*.pyc
*~
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
nest/
venv2/
venv_new/
nest222/
nest_latest/
cypress/
neurosim/
pagmo/
hbp-neuromorphic-client/
genn/
pynn_genn/
pynn7/
learning_to_learn/
pypet
job_*/
.ipynb_checkpoints/
*/tests/*.pdf
*/tests/*.mk
*_CODE/
